<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.atmecs.testscripts.scenario2.InsightBlogs"/>
      <class name="com.atmecs.testscripts.scenario1.Careers"/>
      <class name="com.org.atmecs.testbase.InvokeBrowser"/>
      <class name="com.atmecs.testscripts.scenario1.AboutUs"/>
      <class name="com.atmecs.testscripts.scenario1.Services"/>
      <class name="com.atmecs.testscripts.scenario1.ContactUs"/>
      <class name="com.atmecs.testscripts.scenario1.Home"/>
      <class name="com.atmecs.testscripts.scenario1.ServicesContext"/>
      <class name="com.org.atmecs.grid.Grid"/>
      <class name="com.atmecs.testscripts.scenario1.Media"/>
      <class name="com.atmecs.testscripts.scenario1.Insights"/>
      <class name="com.atmecs.testscripts.scenario1.Partners"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
